#----------------------------
# AI PLATFORM NOTEBOOK TFVARS
#----------------------------

notebook_boot_disk_size_gb           = 100
notebook_boot_disk_type              = "PD_STANDARD"
notebook_consume_reservation_type    = "NO_RESERVATION"
notebook_data_disk_size_gb           = 100
notebook_data_disk_type              = ""
notebook_enable_integrity_monitoring = false
notebook_enable_secure_boot          = false
notebook_enable_vtpm                 = false
notebook_image_family                = ""
notebook_image_name                  = ""
notebook_install_gpu_driver          = false
notebook_instance_owners             = []
notebook_labels                      = {}
notebook_location                    = ""
notebook_machine_type                = ""
notebook_metadata                    = {}
notebook_name                        = ""
notebook_network                     = ""
notebook_nic_type                    = "VIRTIO_NET"
notebook_no_proxy_access             = false
notebook_no_public_ip                = true
notebook_project                     = ""
notebook_service_account             = ""
notebook_service_account_scopes      = []
notebook_subnet                      = ""
notebook_tags                        = []
notebook_vm_project                  = ""