#--------------------------------------
# GOOGLE CLOUD SOURCE REPOSITORY MODULE
#--------------------------------------

module "cloud_source_repository" {
  source = "./modules/source_repository"

  cloud_source_repo_name       = var.cloud_source_repo_name
  cloud_source_repo_project_id = var.cloud_source_repo_project_id
}