#-----------
# IAP TFVARS
#-----------

instances = []
iap_members                = []
additional_ports           = []
create_firewall_rule       = true
fw_name_allow_ssh_from_iap = "terraform-allow-ssh-from-iap-to-tunnel"
host_project               = ""
network_tags               = []