// THIS IS AN EXAMPLE FILE
// WILL NOT BE PROVISIONED IN SDE


#----------------------
# DLP INSPECT TEMPLATE
#----------------------

resource "google_data_loss_prevention_inspect_template" "dlp_hipaa_inspection_template" {

  parent       = "projects/${module.secure-staging-project.project_id}"
  description  = "Inspect content for sensitive data."
  display_name = "HIPAA basic inspection."

  inspect_config {
    info_types {
      name = "AGE"
    }

    info_types {
      name = "CREDIT_CARD_NUMBER"
    }

    info_types {
      name = "CREDIT_CARD_TRACK_NUMBER"
    }

    info_types {
      name = "DATE"
    }

    info_types {
      name = "DATE_OF_BIRTH"
    }

    info_types {
      name = "DOMAIN_NAME"
    }

    info_types {
      name = "EMAIL_ADDRESS"
    }

    info_types {
      name = "FIRST_NAME"
    }

    info_types {
      name = "GENERIC_ID"
    }

    info_types {
      name = "HTTP_COOKIE"
    }

    info_types {
      name = "IP_ADDRESS"
    }

    info_types {
      name = "LAST_NAME"
    }

    info_types {
      name = "MAC_ADDRESS"
    }

    info_types {
      name = "MAC_ADDRESS_LOCAL"
    }

    info_types {
      name = "PASSPORT"
    }

    info_types {
      name = "PERSON_NAME"
    }

    info_types {
      name = "PHONE_NUMBER"
    }

    info_types {
      name = "STREET_ADDRESS"
    }

    info_types {
      name = "URL"
    }

    info_types {
      name = "US_ADOPTION_TAXPAYER_IDENTIFICATION_NUMBER"
    }

    info_types {
      name = "US_DRIVERS_LICENSE_NUMBER"
    }

    info_types {
      name = "US_PASSPORT"
    }

    info_types {
      name = "US_PREPARER_TAXPAYER_IDENTIFICATION_NUMBER"
    }

    info_types {
      name = "US_SOCIAL_SECURITY_NUMBER"
    }

    info_types {
      name = "US_VEHICLE_IDENTIFICATION_NUMBER"
    }

    info_types {
      name = "VEHICLE_IDENTIFICATION_NUMBER"
    }

    min_likelihood = "LIKELY"

    rule_set {
      info_types {
        name = "PERSON_NAME"
      }
      rules {
        hotword_rule {
          hotword_regex {
            pattern = "patient"
          }
          proximity {
            window_before = 50
          }
          likelihood_adjustment {
            fixed_likelihood = "VERY_LIKELY"
          }
        }
      }
    }

    limits {
      max_findings_per_item    = 10
      max_findings_per_request = 50
      max_findings_per_info_type {
        max_findings = "75"
        info_type {
          name = "PERSON_NAME"
        }
      }
      max_findings_per_info_type {
        max_findings = "80"
        info_type {
          name = "LAST_NAME"
        }
      }
    }
  }
}