#----------------------------------------
# VPC SC REGULAR SERVICE PERIMETER MODULE
#----------------------------------------

module "regular_service_perimeter" {
  source = "./modules/vpc_service_controls/regular_service_perimeter"

  // REQUIRED
  regular_service_perimeter_description = var.regular_service_perimeter_description
  regular_service_perimeter_name        = var.regular_service_perimeter_name
  parent_policy_id                      = var.parent_policy_id

  // OPTIONAL
  access_level_names          = var.access_level_names
  project_to_add_perimeter    = var.project_to_add_perimeter
  restricted_services         = var.restricted_services
  enable_restriction          = var.enable_restriction
  allowed_services            = var.allowed_services
  egress_policies             = var.egress_policies
}