#--------------------------------
# VPC SC REGULAR PERIMETER TFVARS
#--------------------------------

// REQUIRED TFVARS

regular_service_perimeter_description = ""
regular_service_perimeter_name        = ""
parent_policy_id                      = ""

// OPTIONAL TFVARS

access_level_names          = []
project_to_add_perimeter    = []
restricted_services         = []
enable_restriction          = true
allowed_services            = []
egress_policies             = []