#-----------------------
# PROJECT FACTORY TFVARS
#-----------------------

// REQUIRED TFVARS

project_name = ""
org_id = ""
billing_account_id = ""


// OPTIONAL TFVARS
activate_apis = ["compute.googleapis.com"]
auto_create_network = false
create_project_sa = false
default_service_account = "keep"
disable_dependent_services = true
disable_services_on_destroy = true
folder_id = ""
group_name = ""
group_role = "role/viewer"
project_labels = {
    "purpose":"srde"
}
lien = false
random_project_id = true